@(id: Option[String], form: Form[models.Article], files: Option[List[(play.api.libs.json.JsString, reactivemongo.api.gridfs.ReadFile[reactivemongo.play.json.JSONSerializationPack.type, play.api.libs.json.JsString])]])(implicit lang: play.api.i18n.Messages)

@layout("Welcome to ReactiveMongo Demo") {
    <div class="row">
        <div class="span8">
            <h2>
                @if(!id.isDefined) {
                    Add
                } else {
                    Edit
                } an article</h2>
            @helper.form(action = (if(!id.isDefined) routes.Articles.create else routes.Articles.edit(id.get)), 'class -> "form-horizontal") {
                @helper.inputText(form("title"))
                @helper.inputText(form("publisher"))
                @helper.textarea(form("content"))
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit">
                </div>
            }
        </div>
}
