
        <script src="@routes.Assets.versioned("javascripts/moment.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/chart.bundle.min.js")" type="text/javascript"></script>
        
        <input id="input3H" type="text" />
        <input id="input24H" type="text" />
        <button onclick="updateCharts(moment().subtract(moment().minutes()%5, 'm').toDate(), eval($('#input3H').val()), moment().startOf('hour').toDate(), eval($('#input24H').val()));">Update</button>
        <button onclick="liveData();">Livedata</button>

        <canvas id="chart3H" width="400" height="400"></canvas>
        <canvas id="chart24H" width="400" height="400"></canvas>
        <script>
        var ctx = document.getElementById("chart3H");
        var chart3H = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [moment(), moment().add(05, "mm"), moment().add(10, "mm"), moment().add(15, "mm").toDate()],
                datasets: [{
                    label: 'Sun intensity',
                    data: [0, 5, 10, 15, 20, 25, 30, 35, 40],
                    backgroundColor: "rgba(250, 200, 0, 0.8)",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            min: moment(),
                            max: moment().add(1, "H"),
                            unit: 'minute',
                            unitStepSize: 15,
                            displayFormats: {
                                minute: 'HH:mm'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            max: 100
                        }
                    }]
                },
                responsive: false
            }
        });
        
        ctx = document.getElementById("chart24H");
        var chart24H = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [moment(), moment().add("01", "HH"), moment().add("02", "HH")],
                datasets: [{
                    label: 'Sun intensity',
                    data: [0, 5, 10, 15, 20, 25, 30, 35, 40],
                    backgroundColor: "rgba(250, 200, 0, 0.8)",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            min: moment().startOf("hour").toDate(),
                            max: moment().startOf("hour").add(24, "H").toDate(),
                            unit: 'hour',
                            unitStepSize: 2,
                            displayFormats: {
                                hour: 'HH'
                            },
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            max: 100
                        }
                    }]
                },
                responsive: false
            }
        });
        
        function updateCharts(time3H, values3H, time24H, values24H) {
            updateChart3H(time3H, values3H);
            updateChart24H(time24H, values24H);
        }
        
        function updateChart3H(time3H, values3H) {
            var time = moment(time3H);
            chart3H.options.scales.xAxes[0].time.min = time.toDate();
            var labels3H = new Array(values3H.length);
            for(var i=0; i<values3H.length; i++) {
                labels3H[i] = time.toDate();
                time.add(5, "m");
            }
            chart3H.data.labels = labels3H;
            chart3H.data.datasets[0].data = values3H;
            chart3H.options.scales.xAxes[0].time.max = time.toDate();
            chart3H.update();
        }
        
        function updateChart24H(time24H, values24H) {
            var labels24H = new Array(values24H.length);
            time = moment(time24H);
            chart24H.options.scales.xAxes[0].time.min = time.toDate();
            for(var i=0; i<values24H.length; i++) {
                labels24H[i] = time.toDate();
                time = time.add(1, "H");
            }
            chart24H.data.labels = labels24H;
            chart24H.data.datasets[0].data = values24H;
            chart24H.options.scales.xAxes[0].time.max = time.toDate();
            chart24H.update();
        }
        
        function liveData() {
            $.getJSON("http://graphdata.buienradar.nl/forecast/jsonsun/?lat=52.09&lon=5.11", function( data ) {
              var items = [];
              $.each( data.forecasts, function( key, value ) {
                items.push(value.value);
              });
              updateChart3H(data.forecasts[0].datetime, items);
            });
            $.getJSON("http://api.buienradar.nl/data/graphdata/1.0/sunforecast/24hours?lat=52.09&lon=5.11", function( data ) {
              var items = [];
              $.each( data.forecasts, function( key, value ) {
                items.push(value.value);
              });
              updateChart24H(data.forecasts[0].datetime, items);
            });
        }
</script>
