
<input id="location" type="text" placeholder="Location" />
<button id="liveData">buienradar Livedata</button>
<p id="error-output" />

<h2>3 hour forecast</h2>
<canvas id="chart3H" style="max-width:600px; min-height:250px;"></canvas>
<h2>24 hour forecast</h2>
<canvas id="chart24H" style="max-width:600px; min-height:250px;"></canvas>

<script src="@routes.Assets.versioned("javascripts/moment.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/chart.bundle.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/jquery.simple.websocket.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var chartSunlightOptions = {
            type: 'bar',
            data: {
                labels: [moment().toDate()],
                datasets: [{
                    label: 'Sun intensity',
                    data: [0],
                    backgroundColor: "rgba(250, 200, 0, 0.8)",
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                minute: 'HH:mm',
                                hour: "HH" // "dd HH"?
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                }
            }
        };
        var chart3H = new Chart(document.getElementById("chart3H"), JSON.parse(JSON.stringify(chartSunlightOptions)));
        var chart24H = new Chart(document.getElementById("chart24H"), JSON.parse(JSON.stringify(chartSunlightOptions)));

        function updateChart(chart, timestampsString, values) {
            var timestamps = timestampsString.map(function (obj) {
                return moment(obj).toDate();
            });
            chart.data.labels = timestamps;
            chart.data.datasets[0].data = values;
            chart.update();
        }

        function updateCharts(time3H, values3H, time24H, values24H) {
            console.log("Updating chart...");
            updateChart(chart3H, time3H, values3H);
            updateChart(chart24H,time24H, values24H);
        }
        
        function liveDataLocation() {
            $('#error-output').text("");
            if($('#location').val() == "") { $('#location').val("Groningen"); }
            $.getJSON("http://maps.googleapis.com/maps/api/geocode/json?address="+$("#location").val(), function (data) {
                if(data.results.length == 0) {
                  $('#error-output').text("Location not found");
                } else {
                  liveData(data.results[0].geometry.location.lat, data.results[0].geometry.location.lng);
                }
            });
        }

        function liveData(lat, lon) {
            $.getJSON("http://graphdata.buienradar.nl/forecast/jsonsun/?lat="+lat+"&lon="+lon, function (data) {
                var timestamps = [];
                var values = [];
                $.each(data.forecasts, function (key, entry) {
                    timestamps.push(entry.datetime);
                    values.push(entry.value);
                });
                updateChart(chart3H, timestamps, values);
                if(timestamps.length == 0) {
                    $('#error-output').text("No sun forecast for the next 3 hours, might it be night?");
                }
            });
            $.getJSON("http://api.buienradar.nl/data/graphdata/1.0/sunforecast/24hours?lat="+lat+"&lon="+lon, function (data) {
                var timestamps = [];
                var values = [];
                $.each(data.forecasts, function (key, entry) {
                    timestamps.push(entry.datetime);
                    values.push(entry.value);
                });
                updateChart(chart24H, timestamps, values);
            });
        }
        $("#liveData").click(liveDataLocation);
        $('#location').keydown(function(event) {
          if (event.keyCode == 13) {
            liveDataLocation();
            return false;
          }
        });

        var webSocket = $.simpleWebSocket({url: " ws://" + window.location.host + "/ws/weather"});
        // reconnected listening
        webSocket.listen(function (data) {
            console.log(" Received " + JSON.stringify(data, null, 2));
            // Update
            updateCharts(data.time3H, data.values3H, data.time24H, data.values24H)
        });
        function requestWSUpdate() {
            webSocket.send(JSON.stringify({location: $("#location").val()})).done(function () {
                console.log(" Update requested");
            }).fail(function (e) {
                console.log(" Could not send message, " + e);
            });
            window.setTimeout(requestWSUpdate, 10000);
        }
        requestWSUpdate();
    })
</script>
