
<input id="input3H" type="text" />
<input id="input24H" type="text" />
<button onclick="updateCharts(moment().subtract(moment().minutes() % 5, 'm').toDate(), eval($('#input3H').val()), moment().startOf('hour').toDate(), eval($('#input24H').val()));">Update</button>
<button onclick="liveData();">Livedata</button>

<canvas id="chart3H" width="400" height="400"></canvas>
<canvas id="chart24H" width="400" height="400"></canvas>

<script src="@routes.Assets.versioned("javascripts/moment.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/chart.bundle.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/jquery.simple.websocket.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var chartSunlightOptions = {
            type: 'bar',
            data: {
                labels: [moment().toDate()],
                datasets: [{
                    label: 'Sun intensity',
                    data: [0],
                    backgroundColor: "rgba(250, 200, 0, 0.8)",
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                minute: 'HH:mm'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                }
            }
        };
        var chart3H = new Chart(document.getElementById("chart3H"),  chartSunlightOptions);
        var chart24H = new Chart(document.getElementById("chart24H"),chartSunlightOptions);

        function updateChart(chart, timestampsString, values) {
            var timestamps = timestampsString.map(function (obj) {
                return moment(obj).toDate();
            });

            chart.data.labels = timestamps;
            chart.data.datasets[0].data = values;
            chart.update();
        }

        function updateCharts(time3H, values3H, time24H, values24H) {
            console.log("Updating chart...");
            updateChart(chart3H, time3H, values3H);
            updateChart(chart24H,time24H, values24H);
        }

        function liveData() {
            $.getJSON("http://graphdata.buienradar.nl/forecast/jsonsun/?lat=52.09&lon=5.11", function (data) {
                var timestamps = [];
                var values = [];
                $.each(data.forecasts, function (key, entry) {
                    timestamps.push(entry.datetime);
                    values.push(entry.value);
                });
                updateChart(chart3H, timestamps, values);
            });
            $.getJSON("http://api.buienradar.nl/data/graphdata/1.0/sunforecast/24hours?lat=52.09&lon=5.11", function (data) {
                var timestamps = [];
                var values = [];
                $.each(data.forecasts, function (key, entry) {
                    timestamps.push(entry.datetime);
                    values.push(entry.value);
                });
                updateChart(chart24H, timestamps, values);
            });
        }


        var webSocket = $.simpleWebSocket({url: " ws://" + window.location.host + "/ws/weather"});
        // reconnected listening
        webSocket.listen(function (data) {
            console.log(" Received " + JSON.stringify(data, null, 2));
            // Update
            updateCharts(data.time3H, data.values3H, data.time24H, data.values24H)
        });
        function requestWSUpdate() {
            webSocket.send(JSON.stringify({location:"Demo"})).done(function () {
                console.log(" Update requested");
            }).fail(function (e) {
                console.log(" Could not send message, " + e);
            });

            window.setInterval(requestWSUpdate, 5000);
        }
        requestWSUpdate();
    })
</script>
